body {
    background: url(../images/airplane.jpg);
}
#container {
    margin-left: 9%;
    margin-right: 9%;
}
.destinations {
    width: 10%;
    background-color: aqua;
    border: solid darkblue 2px;
    margin: 15px;
}
.places {
    width: 28%;
}
h1 {
    margin: 2%;
    text-align: center;
    font-size: 60px;
}
img {
    width: 100%;
    height: auto;
    /* margin: 5%; */
}
#images {
    display: flex;
    flex-wrap: wrap;
    /* margin: 5%; */
    
}
/* style buttons, color, font  */
/* border around gifs? */
/* background image for page */
/* find font for page */
/*  */
/*  */
