body {
    font-family: 'Abril Fatface', cursive;
    background: url(../images/airplane.jpg);
}
form {
    padding: 1%;   
}
#container {
    margin-left: 9%;
    margin-right: 9%;
    text-align: center;
}
#add-destination {
    padding: 3px;
    width: 15%;
    margin: 1%;
    background-color: aquamarine;
    border: solid midnightblue 2px;
}
.destinations {
    width: 10%;
    background-color: aqua;
    border: solid darkblue 2px;
    margin: 6px;

}
.places {
    width: 28%;
    padding: 2%;

}
h1 {
    margin: 2%;
    text-align: center;
    font-size: 60px;
}
img {
    width: 100%;
    height: auto;
    /* margin: 5%; */
}
#images {
    display: flex;
    flex-wrap: wrap;
    /* margin: 5%; */
    
}
/* style buttons, color, font  */
/* border around gifs? */
/* background image for page */
/* find font for page */
/*  */
/*  */
